@import './../../../config.scss';

button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
}

button.button {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  text-align: center;
  color: var(--grey-70);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  height: 100%;

  :not(:last-child) {
    margin-right: 10px;
  }

  span {
    @include text-100;
  }

  &.primary {

    &:hover,
    &.active {
      color: white;
      background-color: var(--primary-color);
    }
  }

  &.secondary {
    background-color: var(--grey-10);
  }

  &.full {
    width: 100%;
    justify-content: center;
  }

  &.danger {
    background-color: var(--danger-red);
    color: white;
  }

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline: 1px solid var(--alert-yellow);
  }
}