@import './../../../config.scss';

.home {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    &__left {
      display: flex;
      align-items: center;
      padding: 12px 10px;

      svg {
        cursor: pointer;
        transition: transform 0.4s ease-in-out;
        path {
          transform: rotate(0deg);
        }

        &:hover() {
          path {
            transform: rotate(30deg);
          }
        }
      }

      :not(:last-child) {
        margin-right: 10px;
      }

      .logo-title {
        @include display-100;
      }
    }

    .button {
      margin-right: 20px;
    }
  }

  &__search {
    margin: 12px 20px;
  }
}